<!--
 * @Author: ygw
 * @Date: 2020-11-14 15:26:34
 * @LastEditors: your name
 * @Description: file content
 * @FilePath: /demo/sf/me.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="./me.css">
</head>
<body>
  <div id="app" class="container">
    <header>首页</header>
    <section class="logo-container background-white">
      <img class="logo" :src="logoUrl" alt="">
      <h4 class="name">{{sourceData.companyName}}</h4>
    </section>
    <section v-for="item in sourceData.info" :key="" class="detail-container background-white">
      <ul class="detail-inner">
        <li class="detail-item">
          <img class="detail-icon" src="" alt="">
          <span class="detail-name">{{item.userName}}</span>
        </li>
        <li v-for="it in item.telNum" class="detail-item" @click="handleTel(it)">
          <img class="detail-icon" src="" alt="">
          <span class="detail-name">{{it}}</span>
        </li>
        <li class="detail-item" @click="handleAddress(item.address, item.lat, item.lng)">
          <img class="detail-icon" src="" alt="">
          <span class="detail-name">{{item.address}}</span>
        </li>
      </ul>
      <div class="copy" @click="handleCopy">复制</div>
    </section>
    <div v-if="telVisible" class="tel-modal">
      <a class="tel" :href="telPhone">呼叫：{{tel}}</a>
      <button class="cancel" @click="handleHideTel">取消</button>
    </div>
    <div class="tel-modal" v-if="adVisible">
      <ul class="map-ul">
        <li class="map-li" @click="handleMap('gd')">
          <div>高德地图</div>
        </li>
        <li class="map-li" @click="handleMap('bd')">
            <div>百度地图</div>
        </li>
        <li class="map-li" @click="handleMap('tx')">
          <div>腾讯地图</div>
        </li>
      </ul>
      <button class="cancel" @click="handleHideAddress">取消</button>
    </div>
  </div>
  <script src="./me.js"></script>
</body>
</html>